<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adeptj.modules.examples.jaxrs.UserMapper">

    <resultMap type="User" id="userMap">
        <id column="ID" property="id"/>
        <result column="EMAIL" property="email"/>
        <result column="FIRST_NAME" property="firstName"/>
        <result column="LAST_NAME" property="lastName"/>
        <result column="MOBILE_NO" property="contact"/>
    </resultMap>

    <select id="findById" resultType="User" resultMap="userMap">
        select * from users where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from users where id = #{id}
    </delete>

    <select id="findAll" resultType="User" resultMap="userMap">
        SELECT * FROM users
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into users (EMAIL,FIRST_NAME,LAST_NAME,MOBILE_NO) values (#{email},#{firstName},#{lastName},#{contact})
    </insert>

</mapper>